#loading {
  font-family: Monospace;
  font-weight: bold;
  font-size: 5em;
  color: #33bb60;
  display: grid;
  place-items: center;
  min-height: 100vh; /* Takes up the full height of the screen */
}
